.cart-container {
  padding: 2rem;
  max-width: 1200px;
  margin: auto;
}
.cart-container h2{
 
  font-size: 34px;
  color:#013a63;
  font-weight: bold;


}

.cart-content {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  flex-wrap: wrap;
}

.cart-items {
  flex: 2;
}


.order-summary {
  flex: 1;
  padding: 0px 20px;
  border-radius: 8px;
  background-color: 
rgb(241, 243, 244)
;
height: 100%;

}
.order-summary h3{
    color:#002e5b;
    font-size: 20px;
    font-weight: 600;
}
.summary-row {
  display: flex;
  justify-content: space-between;
  
  margin: 0.5rem 0;
  font-size: 16px;
  color: #002e5b;
}

.total {
  font-weight: bold;
  font-size: 1.1rem;
  border-bottom: 1px solid rgb(229, 231, 235);;
}

.checkout-btn {
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 100%;
  padding: 10px;
  background-color: #002e5b;
  color: white;
  border: none;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
}
